{% extends "master.html" %}

{% block title %}Register{% endblock %}

{% block body %}

{% load registration_providers %}
<h1>Finish Creating Your Account</h1>
	
<form method="post">
	{% csrf_token %}

	{% if not username or ask_username %}
		<div>
			<label for="username">Username</label>
			<input type="text" size="20" id="username" name="username" value="{{username}}"/>
		</div>
	{% endif %}
			
	{% if email and not ask_email %}
		<p>We are collecting your email address <tt>{{email}}</tt> from {{provider|provider_name}}.</p>
		<input type="hidden" name="email" value="{{email}}"/>
	{% else %}
		<div>
			<label for="email">Email Address</label>
			<input type="text" size="20" id="email" name="email" value="{{email}}"/>
		</div>
	{% endif %}

	<p class="error" style="display: block">{{error}}</p>
			
	<input type="submit" class="submit" value="Continue"/>
</form>

{% endblock %}

