{% extends "registration/base.html" %}

{% block title %}Password Reset{% endblock %}

{% block head %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block body %}
<h1>Reset Password</h1>
	
<p style="width: 40em; margin-top: 1em;">If you&rsquo;ve forgotten your password, please enter your email address below. If we have an account on file with that address we will send instructions on how to reset your password.</p>
	
{% if status %}
<p class="error" style="margin-top: 1em;">{{status}}</p>
{% endif %}

<form id="reset-pw-form" method="post" action="" style="margin-top: 1em" class="form">
	{% csrf_token %}

	<div class="form-group" style="max-width: 30em;">
		<label for="email">Your email address:</label>
		<input id="email" type="text" name="email" value="{{request.POST.email}}" class="form-control"/>
	</div>
	
	<button
		class="g-recaptcha btn btn-default"
		data-sitekey="{{RECAPTCHA_SITE_KEY}}"
		data-callback="SubmitResetPw">
	Submit
	</button>

	<script>
	function SubmitResetPw() {
		$('#reset-pw-form').submit();
	}
	</script>
	
</form>
{% endblock %}

